@font-face {
  font-family: century-gothic;
  src: url(./assets/fonts/CenturyGothic.ttf);
}
html{
  min-height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color:rgba(255, 255, 255, 0.8);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  background-color: #003049;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orange{
  color: #e76f51;
}
